section.half.app
  .app-preview
    img#app-screenshot(srcset="layups-for-desktop.png 1x, layups-for-desktop@2x.png 2x")
section.half.copy
  nav
    .inner
      a.link.nav-link(href="/about") Credits
      a.link.nav-link(href="https://twitter.com/twnsndco") Made by Cole Townsend
  main
    header
      h1 Layups for Desktop
      p Layups is an OSX client for Dribbble. Login and post shots directly from your desktop. Now in free beta.
      a.button(href="#") Download now
